@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
     <link rel="Shortcut Icon" href="/Images/title.ico" />
    <title>关于我</title>
     <link href="~/Content/Base.css" rel="stylesheet" />
        <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js "></script>
    <script src="~/Scripts/MyJs.js"></script>
</head>
<body onload="active_li_aboutme()">
    <div id="top">
    @{Html.RenderPartial("Head");}
     <div id="l_top">
    
    </div>
        </div>
    <div id="nav_txt"><div id="nav_txt_left">当前位置:<span class="sp_blank"></span><a href="@Url.Action("Index","Home")">首页</a><span class="sp_blank"></span>><span class="sp_blank"></span><span class="txtDefault">关于我</span>
       </div><div id="nav_txt_right">后面是悬崖,行的再慢也是前进,我要在这条路上走的更远~</div><div class="clear"></div>
    </div>
    <div id="l_body">
        <div id="body_left">
            <div id="g_aboutme">About Me</div>
             <div id="g_mejpg"><img class="a_me_img" src="~/Images/weixiaolong.jpg" /></div>
            <div class="txt_PersonInfo">
                <p>韦小龙,男,一个90后asp.net程序员!工作已经一年多。</p><br />
                <span >
                    "好记性不如烂笔头"。我的记性也不太好,通常用过的知识，学过的知识,久而久之没去用就忘记了,然后又得去查找资料。
                    所以我会在这里分享和记录下自己在开发上面的一些技术和遇到的问题。
                </span>
               
            </div>
            </div>
         @{Html.RenderPartial("MeInfo");}
        <div class="clear"></div>
        </div> 
</body>
</html>
