@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="Shortcut Icon" href="/Images/title.ico" />
    <title>随笔分享</title>
    <link href="~/Content/Base.css" rel="stylesheet" />
</head>
<body>
    @{Html.RenderPartial("Head");}
     <div id="l_top">
    
    </div>
    <div id="nav_txt"><div id="nav_txt_left">当前位置:<span class="sp_blank"></span><a href="@Url.Action("Index","Home")">首页</a><span class="sp_blank"></span>><span class="sp_blank"></span><span class="txtDefault">随笔分享</span>
       </div><div id="nav_txt_right">分享使人快乐~</div><div class="clear"></div>
    </div>
    <div id="s_body">
        <div id="s_body_left">
            <div class="sb_Title"><a href="javascript:void(0);">Linq百科</a></div>
            <div class="sb_info">
                发布时间:<span class="sp_blank"></span>2016-03-03&nbsp;编辑:<a href="javascript:void(0);">韦小龙</a>&nbsp;
                阅读(1232)
            </div>
            <div class="sb_tag">
                <a class="sb_tag_a" href="javascript:void(0);">linq</a><a class="sb_tag_a" href="javascript:void(0);">.net</a>
            </div>
             <div class="sb_content">
              《假如生活欺骗了你》选自《普希金诗集》，这是一首哲理抒情诗，诗人以普普通通的句子，通过自己真真切切的生活感受，向女友提出慰藉。这首诗以劝告的口吻和平等的娓娓的语气写来，语调亲密和婉，热诚坦率；诗句清新流畅，热烈深沉，有丰富的人情味和哲理意味，表达了诗人真诚博大的情怀和坚强乐观的思想情怀 开头是一个假设，“假如生活欺骗了你”，这假设会深深伤害人们，足以使脆弱的人们丧失生活的信心，足
《假如生活欺骗了你》选自《普希金诗集》，这是一首哲理抒情诗，诗人以普普通通的句子，通过自己真真切切的生活感受，向女友提出慰藉。这首诗以劝告的口吻和平等的娓娓的语气写来，语调亲密和婉，热诚坦率；诗句清新流畅，热烈深沉，有丰富的人情味和哲理意味，表达了诗人真诚博大的情怀和坚强乐观的思想情怀 开头是一个假设，“假如生活欺骗了你”，这假设会深深伤害人们，足以使脆弱的人们丧失生活的信心，足
                 《假如生活欺骗了你》选自《普希金诗集》，这是一首哲理抒情诗，诗人以普普通通的句子，通过自己真真切切的生活感受，向女友提出慰藉。这首诗以劝告的口吻和平等的娓娓的语气写来，语调亲密和婉，热诚坦率；诗句清新流畅，热烈深沉，有丰富的人情味和哲理意味，表达了诗人真诚博大的情怀和坚强乐观的思想情怀 开头是一个假设，“假如生活欺骗了你”，这假设会深深伤害人们，足以使脆弱的人们丧失生活的信心，足
             </div>
            </div>
     <div id="s_body_right">

         <h2 style="text-align:center">分类</h2>
         <p style="margin-left:10px;"><a href="javascript:void()">1.ASP.NET</a></p>
           <p style="margin-left:10px;"><a href="javascript:void()"2.>ASP.NET MVC</a></p>
          <p style="margin-left:10px;"><a href="javascript:void()">3.EF</a></p>
         <p style="margin-left:10px;"><a href="javascript:void()">4.HTML5</a></p>
         <p style="margin-left:10px;"><a href="javascript:void()">5.CSS3</a></p>
           <p style="margin-left:10px;"><a href="javascript:void()">6.Bootstrap</a></p>
         <p style="margin-left:10px;"><a href="javascript:void()">7.Jquery</a></p>
          <p style="margin-left:10px;"><a href="javascript:void()">8.Linq之路</a></p>
          <p style="margin-left:10px;"><a href="javascript:void()">9.EasyUI</a></p>
     </div>
     <div class="clear"></div>
     </div> 
</body>
</html>
