@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   
    <meta name="viewport" content="width=device-width" />
    <link rel="Shortcut Icon" href="/Images/title.ico" />
    <title>韦小龙个人网站-(www.wxiaolong.com)-个人博客</title>
    <link href="~/Content/Base.css" rel="stylesheet" />
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src=" http://libs.baidu.com/jquery/1.11.1/jquery.min.js "></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="~/Scripts/MyJs.js"></script>
</head>
<body onload="active_li_index()">
    <div id="top">
    <div id="z_weather">
        <iframe width="300" scrolling="no" height="18" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&color=%230070C0&icon=1&wind=1&num=1"></iframe>
    </div>
      @{Html.RenderPartial("Head");}

        <!-- JiaThis Button BEGIN -->
    <div class="jiathis_style" style="margin-top:20px;">
	<span class="jiathis_txt">分享到：</span>
	<a class="jiathis_button_tools_1"></a>
	<a class="jiathis_button_tools_2"></a>
	<a class="jiathis_button_tools_3"></a>
	<a class="jiathis_button_tools_4"></a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
	<a class="jiathis_counter_style"></a>
        <div class="clear"></div>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->
        </div>
    <div class="z_top2">
       <div class="z_top2_dream" data-shadow="我的梦想，在路上">我的梦想，在路上</div>
        </div> 
    <div id="z_body">
        <div id="z_body_left">
            <div id="z_Carousel">
                <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>
           <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol> 
        <div class="carousel-inner">
            <div class="item active">
                 <img style ="height:120px;width:70%;display:inline" src="/Images/z_pic1.jpg" alt="图片" />
            </div>
            <div class="item">
                <img style ="height:120px;width:70%;display:inline" src="/Images/z_pic2.JPG" alt="图片" />
            </div>
             <div class="item">
                <img style ="height:120px;width:70%;display:inline" src="/Images/z_pic3.JPG" alt="图片" />
            </div>
             <div class="item">
                <img style ="height:120px;width:70%;display:inline" src="/Images/z_pic4.JPG" alt="图片" />
            </div>

      </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
            </div>
            <div class="I_content_right">  <b>欢迎访问韦小龙的个人网站，这个网站主要是用来分享和记录开发上遇到的问题和技术,还有记录生活的点滴。每周更新功能，请期待~</b></div>
            </div>
             <div id="z_body_right"><h2 style="text-align:center">推荐</h2>
         <p style="margin-left:10px;"><a href="javascript:void()">个人博客</a></p>
                 </div>
     <div class="clear"></div>
     </div> 

    <div id="about_web">@Html.Raw("@") CopyRight 2016 www.wxiaolong.com<span class="sp_blank"></span>|<span class="sp_blank"></span><a href="@Url.Action("AboutMe")">联系我</a><span class="sp_blank"></span>粤ICP备15085148号-1</div>
</body>
</html>