@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="Shortcut Icon" href="/Images/title.ico" />
    <title>留言板</title>
    <link href="~/Content/Base.css" rel="stylesheet" />
        <script src=" http://libs.baidu.com/jquery/1.11.1/jquery.min.js "></script>
    <script src="~/Scripts/MyJs.js"></script>
</head>
<body onload="duoshuoMessageBoard();active_li6();">
    
    @{Html.RenderPartial("Head");}
    <div id="l_top">
    
    </div>
    <div id="nav_txt"><div id="nav_txt_left">当前位置:<span class="sp_blank"></span><a href="@Url.Action("Index","Home")">首页</a><span class="sp_blank"></span>><span class="sp_blank"></span><span class="txtDefault">留言板</span>
       </div><div id="nav_txt_right">你是我生命中重要的过客,留下点什么吧~</div><div class="clear"></div>
    </div>
    <div id="l_body">
        <div id="body_left">
	<div class="ds-thread" data-thread-key="101" data-title="留言板" data-url="www.wxiaolong.com"></div>
            </div>
        @{Html.RenderPartial("MeInfo");}
        <div class="clear"></div>
    </div>
</body>
</html>

