/*--------------------------------共用样式----------------------*/
 body {
        margin:0px;
        padding:0px;
        font-size:14px;
        font-family:"宋体",Arial;
      background:#fefdf3;
        }
 /*清除float*/
 .clear {
clear:both;
}
 /*空格*/
 .sp_blank {
    display: inline-block;
    width: 10px;
}
 /*错误消息*/
 .lbl_must {
    color:#f00;
    font-size:12px;
    font-family: verdana,sans-serif;
   
}
 .active_li {
color:#ff6a00 !important;
}
  #head {
        /*border:1px solid #0094ff;*/
        margin-top:0px;
        margin-left:20px;
        }
#top {
         background-image:url(../Images/top.jpg);
         background-repeat:no-repeat;
         -moz-background-size:100% 100%;  
         background-size:100% 100%;
         -webkit-background-size:100% 100%;
         -o-background-size:100% 100%;
         -ms-background-size:100% 100%;
         margin:0;
         position:relative;
         padding-top:20px;
         padding-bottom:20px;
}
#nav_div {
text-align:right;
padding-right:20px;
}
    #nav_div ul li {
    display:inline-block;
    padding:0;
    }
#nav_ul {
overflow:hidden;
box-sizing:border-box;
list-style:none;
margin:0px;
padding:0px;
}
#nav_ul > li {
 font-family: "微软雅黑",Arial;
height:20px;
line-height:20px;
font-size:18px;
margin:5px 0 0 10px;

}
    #nav_ul > li > a {
        text-decoration: none;
        color:#333;
        font-weight:700;
    }
      #nav_ul > li > a:hover  {
       color:#ff6a00;
    border:1px solid #e4dddd;
    background-color:#d0d3cc;
    border-radius:10px;

    }
#head_title {
    height:46px;
    line-height:30px;
}
    #head_title > img {
   width:166px;
   height:46px;
    }

 /*------------------------------共用样式-----------------------*/

 /*------------------------------主页样式-----------------------*/
#about_web {
text-align:center;
font-family:"微软雅黑";
font-size:14px;
color:#808080;
}
    #about_web a {
    color:#808080;
  text-decoration:none;
    }
#z_weather {
position:absolute;
right:20px;
top:0px;
width:290px;
}
.z_me_img {
    width:194px;
    height:191px;
    margin-left:10px;
    margin-top:10px;
}
 #z_body {
        padding-left:10px;
        margin-top:5px;
        min-width:350px;      
    }
     #z_body_left {
        float:left;
        width:70%;
        margin-top:10px;
        margin-right:5px;
        border:1px solid #b4b2b2;
        min-height:500px;
        }
        #z_body_right {
        margin-top:10px;
        padding-left:5px;
        margin-right:5px;
        float:left;
        width:26%;
        font-size:14px;
        font-family:"微软雅黑";
        color:#808080;
        border:1px solid #b4b2b2;
         min-height:500px;
        }
.z_top2 {
    margin:10px 10px 0 10px;
border:1px dashed #9ad1fa;
padding:5px;
}
.z_top2_dream {

    text-align: center;
  text-transform: uppercase;
  -webkit-text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.1em;
  color: #EEE;
  animation: rotate 2s ease-in-out alternate infinite;
  -webkit-animation: rotate 2s ease-in-out alternate infinite;
}
.z_top2_dream:before {
    content: attr(data-shadow);
  color: transparent;
  text-shadow: 0 0 15px #111;
  position: absolute;
  z-index: -1;
  margin: -0.1em 0 0 0;
  animation: skew 2s ease-in-out alternate infinite;
  -webkit-animation: skew 2s ease-in-out alternate infinite;
  transform-origin: bottom;
  -webkit-transform-origin: bottom;
    }
/*主页文字动画*/
    @keyframes rotate {
  from {
    transform: rotateY(-10deg);
    text-shadow:  1px -1px #CCC,
                  2px -1px #BBB,
                  3px -2px #AAA,
                  4px -2px #999,
                  5px -3px #888,
                  6px -3px #777;
  }
  to {
    transform: rotateY(10deg);
    text-shadow:  -1px -1px #CCC,
                  -2px -1px #BBB,
                  -3px -2px #AAA,
                  -4px -2px #999,
                  -5px -3px #888,
                  -6px -3px #777;
  }
}
@-webkit-keyframes rotate {
  from {
    transform: rotateY(-10deg);
    text-shadow:  1px -1px #CCC,
                  2px -1px #BBB,
                  3px -2px #AAA,
                  4px -2px #999,
                  5px -3px #888,
                  6px -3px #777;
  }
  to {
    transform: rotateY(10deg);
    text-shadow:  -1px -1px #CCC,
                  -2px -1px #BBB,
                  -3px -2px #AAA,
                  -4px -2px #999,
                  -5px -3px #888,
                  -6px -3px #777;
  }
}
@keyframes skew {
  from {
    transform: scaleY(0.3) skewX(-15deg);
  }
  to {
    transform: scaleY(0.3) skewX(-20deg);
  }
}
@-webkit-keyframes skew {
  from {
    transform: scaleY(0.3) skewX(-15deg);
  }
  to {
    transform: scaleY(0.3) skewX(-20deg);
  }
}

/*主页文字动画*/
#z_Carousel {
margin:5px;
text-align:center;
}
#I_content_right {
padding:3px;
}
#Content_right_top {
font:700 20px "微软雅黑", Arial, Helvetica, sans-serif;
margin:20px 0px;
}
    #Content_right_top span {
    color:#FE5187;
    }
.z_right_title {
color:#fa82f7;
font-weight:700;
}
#z_body_right li {
 height:25px;
 overflow-x:hidden;/*超出隐藏*/
 text-overflow:ellipsis;/*文字隐藏后添加省略号*/
 white-space:nowrap;/*强制不换行*/
}
 /*------------------------------主页样式-----------------------*/
 /*------------------------------留言板样式---------------------*/
  #l_top {
        height:30px;
        line-height:30px;
        text-align:center;
        font-size:20px;
        font-weight:700;
        }
        #nav_txt {
        height:20px ;
        line-height:20px;
        border-bottom:1px solid #808080;
        margin:0px 10px;
        }
            #nav_txt  a {
            text-decoration:none;
            }
        .txtDefault {
            color:#808080;
        }
        #txt2 {
        display:inline-block;
        }
        #nav_txt_left {
        float:left;
        width:30%;
        min-width:200px;
        }
        #nav_txt_right {
        float:right;
        text-align:right;
        padding-right:10px;
        font-size:14px;
        font-family:"微软雅黑";
        color:#b4b2b2;
        }
        #body_left {
        float:left;
        width:70%;
        min-width:350px;
        border-right:3px dotted #808080;
        padding-right:10px;
        min-height:500px;
        }
        #body_right {
        padding-left:10px;
        float:left;
        width:25%;
        min-width:150px;
        font-size:14px;
        font-family:"微软雅黑";
        color:#808080;
        margin-left:10px;
        }
        #l_body {
        padding-left:10px;
        margin-top:5px;
        min-width:350px;
        /*width:1000px;*/
        }
  /*------------------------------留言板样式---------------------*/
  /*-------------------------------关于我样式--------------------*/
#g_aboutme {
font-size:32px;
 font-family:"微软雅黑";
 color:#b6ff00;
 margin-bottom:5px;
}
.txt_PersonInfo {
    font-family:"微软雅黑";
    font-size:16px;
    color:#333;
    line-height:25px;
}
#g_mejpg {
    height:200px;
   padding-left:50px;
  
}
.a_me_img {
    width:194px;
    height:191px;
}

  /*-------------------------------关于我样式--------------------*/
  /*----------------------------技术分享------------------------*/
    #s_body {
        padding-left:10px;
        margin-top:5px;
        min-width:350px;      
        /*border:1px solid #0094ff;*/
    }
     #s_body_left {
        float:left;
        width:70%;
        margin-top:10px;
        border-right:3px dotted #808080;
        padding-right:10px;
        min-height:500px;
        }
        #s_body_right {
        padding-left:10px;
        float:left;
        width:25%;
        font-size:14px;
        font-family:"微软雅黑";
        color:#808080;
        margin-left:10px;
        }
    /*屏幕宽度小于768px时，文章列表占全部宽度*/
@media screen and (max-width:768px) {
    #s_body_left {
    width:100%;
    }
    #s_body_right {
    width:100%;
    }
     #body_left {
    width:100%;
           }
   #body_right {
    width: 100%;
            }
    #z_body_left {
    width:100%;
    }
    #z_body_right {
    width:100%;
    }
}
 /*屏幕宽度小于768px时，文章列表占全部宽度*/
.article_list {
border-bottom:1px dashed #9ad1fa;
box-sizing:border-box;
word-break: break-all;
word-wrap: break-word;
margin-bottom:20px;
}
.article_list_title a {
text-decoration:none;
color:#333;
}
.article_list_title {
font-size:14px;
margin:0 0 10px 0;
font-weight:bold;
letter-spacing:1px;
}
.article_list_info {
margin:0 0 8px 0;
font-size:12px;
color:#756F71;
}
    .s_authname {
    text-decoration:none;
    color:#0094ff;
    }
.s_type {
      text-decoration:none;
    color:#0d7a04;
    font-size:14px;
}
.article_list_content {
    line-height:20px;
    font-size:12px;
color:#756F71;
margin-bottom:10px;
}
.article_readmore {
color:#075DB3;
}
.ul_tag {
margin:0;
padding:0;
list-style:none;
margin-left:30%;
}
    .ul_tag > li {
    margin-top:7px;
    }
    /*----------------------------技术分享------------------------*/
    /*-----------------------------随笔分享样式-----------------*/
.sb_goback {
    height:60px;
    float:left;
    line-height:60px;
font-size:20px;
}
    .sb_goback a {
    color:#0094ff;
    }
.sb_Title {
height:60px;
text-align:center;
/*line-height:60px;*/
font-size:20px;
}
    .sb_Title a {
    text-decoration:none;
   font-weight:700;
   color:#756F71;
    }
.sb_info {
text-align:center;
color:#999;
border:1px dashed #9ad1fa;
height:20px;
line-height:20px;
font-size:12px;
}
    .sb_info a {
    text-decoration:none;
    color:#63B120;
    }
.sb_tag {
margin:10px 0;
}
.sb_tag_a {
    text-decoration:none;
    display:inline-block;
    padding:4px 10px;
    line-height:100%;
    margin-right:10px;
    border:1px solid #e4dddd;
    color:#fff;
    background-color:#808080;
    border-radius:10px;
}
.sb_content {
font-size:14px;
line-height:28px;
word-wrap:break-word;
word-break:break-all;
display:block;
width:100%;
margin-bottom:50px;
}
.article_list_title a:hover {
text-decoration:underline;
color:#0094ff;
}
/*-----------------------------随笔分享样式-----------------*/